# Gradle
.gradle/
build/
out/
dist/

# IntelliJ
.idea/
*.iml

# VSCode
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log

# Backup files
*.bak
*.swp

# Minecraft Forge workspace
run/
remappedSrc/
